body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #191919;
  --color-text: #ebebeb;
  --color-border: rgb(177, 177, 177);
  --color-error: firebrick;
  --color-accent: rgb(30, 193, 71);

  background-color: var(--color-background);
  color: var(--color-text);
}

@media (prefers-color-scheme: light) {
  body {
    --color-background: #ececec;
    --color-text: #191919;
    --color-border: rgb(123, 123, 123);
    --color-accent: rgb(27, 145, 57);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
